body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1D2D3C;
}

header {
    background: #06131F;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;

    img {
        width: 50px;
        margin-left: 5px;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.album {
    margin: 20px;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    background: #112030;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    cursor: pointer;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

.details_disc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #1d2d3cc9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;

}

.selected_album {
    max-width: 80%;
    padding: 20px;


}

.hide_details {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


.album_details {
    text-align: center;


    h2 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    p {
        margin: 10px;

    }
}